<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.BoardMapper">
    <select id="searchData" resultType="com.example.demo.dto.BoardDTO">
        SELECT 
            u.MBR_NM as mbrNm, 
            u.MBR_USER_ID as mbrUserId, 
            u.MBR_PHONE as mbrPhone, 
            u.BZPP_ORDER_NO as bzppOrderNo,
            p.PDT_NO as pdtNo,
            p.PDT_NM as pdtNm,
            b.BZPP_NM as bzppNm,
            b.BZPP_PHONE as bzppPhone,
            b.BZPP_ADDR as bzppAddr,
            u.DEL_YN as delYn,
            u.MBR_SQNO as mbrSqno,
            b.BZPP_SQNO as bzppSqno,
            p.PDT_SQNO as pdtSqno
        FROM 
            TBAXMM003 u
            , TBAXBM001 b
            , TBAXPM001 p
        WHERE 1=1
        AND p.MBR_SQNO = u.MBR_SQNO
        AND p.BZPP_SQNO = b.BZPP_SQNO
        AND u.DEL_YN = 'N'
        <if test="mbrNm neq null and mbrNm neq ''">
            AND u.MBR_NM LIKE '%' || #{mbrNm} || '%'
        </if>
        <if test="bzppOrderNo neq null and bzppOrderNo neq ''">
            AND u.BZPP_ORDER_NO LIKE '%' || #{bzppOrderNo} || '%'
        </if>
        <if test="bzppNm neq null and bzppNm neq ''">
            AND b.BZPP_NM LIKE '%' || #{bzppNm} || '%'
        </if>
        <if test="pdtNm neq null and pdtNm neq ''">
            AND p.PDT_NM LIKE '%' || #{pdtNm} || '%'
        </if>
    </select>

    <update id="updateDormantUser">
        UPDATE TBAXMM003
        SET DEL_YN = #{delYn}
        WHERE MBR_SQNO = #{mbrSqno}
    </update>
    <!-- User Start -->
    <select id="getUserDetail" resultType="com.example.demo.dto.UserDTO">
	    SELECT 
	        MBR_SQNO as mbrSqno, 
	        MBR_NO as mbrNo, 
	        MBR_NM as mbrNm, 
	        MBR_USER_ID as mbrUserId, 
	        MBR_USER_PWD as mbrUserPwd, 
	        MBR_TEL as mbrTel, 
	        MBR_PHONE as mbrPhone, 
	        MBR_ADDR as mbrAddr, 
	        BZPP_ORDER_NO as bzppOrderNo, 
	        SITE_SQNO as siteSqno, 
	        LST_LGN_DATE as lstLgnDate, 
	        UPDATE_DATE as updateDate, 
	        DEL_YN as delYn
	    FROM 
	        TBAXMM003
	    WHERE 1 = 1
	    AND MBR_SQNO = #{mbrSqno}
	</select>
	
	<!-- <update id="updateAuthor" parameterType="com.example.demo.dto.UserDTO" flushCache="true"
  			statementType="PREPARED" timeout="20">
  		UPDATE TBAXMM003 set
  			mbrNm = 
  			mbrUserId = 
  			mbrPhone = 
  			bzppOrderNo = 
  			mbrAddr = 
  			mbrNo = 
  			mbrTel = 
  			delYn = 
  		WHERE mbrSqno = #{mbrSqno}
  	</update> -->
	
	
	<!-- Company Start -->
	<select id="getCompanyDetail" resultType="com.example.demo.dto.CompanyDTO">
	    SELECT 
	        BZPP_SQNO as bzppSqno, 
	        PDT_SQNO as pdtSqno, 
	        BZPP_NO as bzppNo, 
	        BZPP_NM as bzppNm, 
	        BZPP_USER_ID as bzppUserId, 
	        BZPP_USER_PWD as bzppUserPwd, 
	        BZPP_TEL as bzppTel, 
	        BZPP_PHONE as bzppPhone, 
	        BZPP_ADDR as bzppAddr, 
	        BZPP_ORDER_NO as bzppOrderNo, 
	        UPDATE_DATE as updateDate, 
	        LST_LGN_DATE as lstLgnDate, 
	        DEL_YN as delYn
	    FROM 
	        TBAXBM001
	    WHERE 1 = 1
	    AND BZPP_ORDER_NO = #{bzppOrderNo}
	</select>
	
	
	<!-- Product Start -->
	<select id="getProductDetail" resultType="com.example.demo.dto.ProductDTO">
	    SELECT 
	        p.PDT_SQNO as pdtSqno,
		    p.BZPP_SQNO as bzppSqno,
		    p.MBR_SQNO as mbrSqno,
		    p.PDT_NM as pdtNm,		
		    p.PDT_NO as pdtNo,		
		    p.PDT_STAT_CD as pdtStatCd,		
		    p.DLVY_STAT_CD as dlvyStatCd,
    		p.DEL_YN as delYn,
    		b.BZPP_USER_ID as bzppUserId,
    		b.BZPP_PHONE as bzppPhon,
    		b.BZPP_ORDER_NO as bzppOrderNo,
    		b.BZPP_ADDR as bzppAddr,
    		b.BZPP_NO as bzppNo,
    		b.BZPP_TEL as bzppTel
	    FROM 
	        TBAXPM001 p,
	        TBAXBM001 b
	    WHERE 1 = 1
	    AND p.PDT_SQNO = #{pdtSqno}
	    AND p.BZPP_SQNO = b.BZPP_SQNO
	    
	</select>

</mapper>
